@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";


@theme {
  --color-primary: #f84565;
  --color-primary-dull: #d63854;
  --color-primary-bg: #12161c;
  --color-blueish-gray: #1e2939;
  --color-light-blueish-gray: #364153;

}


@layer base {
  * {
    font-family: "Outfit", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
  }

  body {
    color: white;
    background-color: #09090b;
  }

  .no-scrollbar
  {
    scrollbar-width: none;
  }

  .scroll-thin
  {
    scrollbar-width: thin;
  }
}
